<mat-toolbar align="center" class="space-between black-toolbar">
  <span class="centered">
    <mat-icon>{{ icon_header }}</mat-icon>
    {{ title_header }}
  </span>
  <button class="white" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>

<mat-dialog-content>

  <!-- <pre>{{reactiveForm.value | json}}</pre> -->

  <form [formGroup]="reactiveForm">

    <div class="col-md-12">
      <div class="row">
        <!-- Title -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Title:</mat-label>
          <mat-select formControlName="titleId" placeholder="" required>
            @for (title of listTitles; track title) {
            <mat-option [value]="title.id">
              {{ title.name }}
            </mat-option>
            } @empty { Empty list of titles }
          </mat-select>
          @if (titleIdField?.hasError('required')){
          <mat-error>title is required</mat-error>
          }
        </mat-form-field>
        <!-- <mat-form-field class="col-12" appearance="outline">
          <mat-label>Title:</mat-label>
          <input formControlName="title" type="text" matInput [matAutocomplete]="auto" required />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
            <mat-option *ngFor="let option of filteredTitles | async" [value]="option">
              {{ option }}
            </mat-option>
            <mat-option *ngIf="(filteredTitles | async)?.length === 0" [disabled]="true">
              No results found
            </mat-option>
            <mat-option *ngIf="showAddOption" (click)="addTitle(newTitle)">
              Add "{{ newTitle }}"
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="reactiveForm.get('title')?.hasError('required')">Title is required</mat-error>
        </mat-form-field> -->
      </div>

      <div class="row">
        <!-- Institution -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Institution:</mat-label>
          <input formControlName="institution" type="text" appOnlyLetters matInput required />
          @if (institutionField?.hasError('required')){
          <mat-error>institution is required</mat-error>
          } @if (institutionField?.hasError('minlength')){
          <mat-error>Insufficient Characters</mat-error>
          } @if (institutionField?.hasError('maxlength')){
          <mat-error>Character Limit Reached</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Certificate Type -->
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Certificate Type:</mat-label>
          <mat-select formControlName="certificateType" placeholder="" required>
            @for (certificateType of listCategories; track certificateType) {
            <mat-option [value]="certificateType">
              {{ certificateType }}
            </mat-option>
            } @empty { Empty list of categories }
          </mat-select>
          @if (certificateTypeField?.hasError('required')){
          <mat-error>certificateType is required</mat-error>
          } @if (certificateTypeField?.hasError('minlength')){
          <mat-error>Insufficient Characters</mat-error>
          } @if (certificateTypeField?.hasError('maxlength')){
          <mat-error>Character Limit Reached</mat-error>
          }
        </mat-form-field>

        <!-- Certification Date -->
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Certification Date:</mat-label>
          <input formControlName="certificationDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          @if (certificationDateField?.hasError('required')){
          <mat-error>CertificationDate is required</mat-error>
          }
        </mat-form-field>
      </div>

    </div>

    <div class="row">
      <mat-dialog-actions>
        <!-- Save -->
        <button type="button" mat-raised-button mat-dialog-close color="primary" [disabled]="reactiveForm.invalid"
          cdkFocusInitial (click)="save()">
          <mat-icon>save</mat-icon>
          Save
        </button>

        <!-- Close -->
        <button class="black-close" type="button" mat-raised-button mat-dialog-close>
          <mat-icon>close</mat-icon>
          Close
        </button>
      </mat-dialog-actions>
    </div>
  </form>
</mat-dialog-content>