/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-drawer {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

mat-toolbar[_ngcontent-ng-c615306003] {
  background-color: #091013;
  color: white;
}
